h2 {
    margin: 0 0 20px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #999;
    font-family: sans-serif;
    font-weight: normal;
    color: #333;
}
.progress-container {
    width: 500px;
    margin: 5px;
    background: #fff;
    padding: 20px;
    overflow: hidden;
    float: left;
}
.horizontal .progress_bar {
    float: left;
    height: 10px;
    width: 100%;
    padding: 4px 0px 12px 0;
}
.horizontal .progress-track {
    position: relative;
    width: 100%;
    height: 5px;
    background: #d9edf7;
}
.horizontal .progress-fill {
    position: relative;
    background: #0962b9;
    height: 5px;
    width: 50%;
    color: #fff;
    text-align: center;
    font-family: "Lato", "Verdana", sans-serif;
    font-size: 12px;
    line-height: 5px;
}
.horizontal .progress-fill span{
    display:none;
}
.rounded .progress-track,
.rounded .progress-fill {
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}
