<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Presupuestos Municipales en Nicaragua</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <script src="{% static 'jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'highcharts.js' %}"></script>
    <script src="{% static 'js/jquery.imagemapster.js' %}"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/tooltip.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip({
            placement : 'top'
            });
        });
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68619423-1', 'auto');
    ga('send', 'pageview');

    </script>
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <h2 class="titular-header"><a href="/">Presupuestos Municipales Abiertos</a></h2>
            </div>
            <div id="navbar" class="navbar-collapse collapse pull-right">
              <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'home' %}">INICIOxxx</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">PRESUPUESTOS <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{%url 'origen_ingresos'%}">Origen de los ingresos del municipio</a></li>
                   <li><a href="{%url 'origen_gastos'%}">Destino del gasto municipal</a></li>
                    <li class="divider"></li>
                    <li><a href="{%url 'gastos_funcion'%}">Gastos de funcionamiento</a></li>
                    <li><a href="{%url 'gastos_personal'%}">Gastos de personal</a></li>
                    <li><a href="{%url 'autonomia_gastos'%}">Dependencia para asumir gastos corrientes</a></li>
                    <li><a href="{%url 'ahorro_corriente'%}">Ahorro corriente para inversiones</a></li>
                    <li><a href="{%url 'ejecucion_presupuesto'%}">Ejecuci&oacute;n del presupuesto</a></li>
                    <li><a href="{%url 'inversion_categoria'%}">Inversiones</a></li>
                    <li><a href="{%url 'detalle_presupuesto'%}">Descargar Detalle Presupuesto</a></li>
                  </ul>
                </li>
                <li><a href="/core/plan-de-inversion/?inversion__anio=2015&inversion__municipio=1">PLANES DE INVERSIÓN</a></li>
                <li><a href="/glosario">GLOSARIO</a></li>
                <li><a href="/significado/">PRESENTACIÓN</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    {% block slide_portada %}
    {% endblock %}

    <!--Cajas de colores de portada -->
    {% block cajas_portada %}
    {% endblock %}
    <!--Fin de cajas de colores de portada -->

    <!--graficos-->
    <section id="graficos" class="{% if home %}graficos-portada {% endif %}inside">
      <div class="container">
	    <div class="row">
            <div class="row-fluid">
              {% block content %}
              {% endblock %}
              {% block main_content %}
              {% endblock %}
	        </div>
	    </div>
      </div>
    </section>

    {% block inversiones_portada %}
    {% endblock %}


      <!-- FOOTER -->
      <footer id="footer">
          <div class="row">
              <div class="container">

        <p class="pull-right logos" style="margin-right: 25px;">
        <a href="#"><img src="{% static 'img/aid.png' %}" alt="USAID"/ width="120" ></a>
        <a href="#"><img src="{% static 'img/logoguegue.png' %}" alt="Guegue" width="140"/></a>
        <a href="#"><img src="{% static 'img/gcom.png' %}" alt="Global communities" width="140" /></a>
        </p>
        <div class="col-md-12" style="margin-top:20px;margin-bottom:-30px;"><small> Las opiniones expresadas en este sitio web no reflejan necesariamente las de la Agencia de los Estados Unidos para el Desarrollo
        
            Internacional, USAID, o la del Gobierno de los Estados Unidos.</small></div>
               </div>
           </div>
    </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/docs.min.js' %}"></script>
    <!-- script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js"></script -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="http://code.highcharts.com/4.1.1/highcharts-3d.js"></script>
  </body>
</html>
