{% extends "base.html" %}
{% load static thumbnail chartit humanize %}
{% load mathfilters %}
{% load core_extras %} 
{% block main_content %}
    <div class="col-md-12 text-centered">
        <div class="pull-left col-md-7">
        	{% descargar_excel "gf-all" %}
            <h2 class="title">Gastos de funcionamiento {{ municipio }} {{ year }} </h2>
        </div>
        <div class="pull-left">
            <button type="button" class="btn btn-danger btn-xs" data-toggle="popover" data-trigger="hover" title="&iquest;Qué significa?" data-content="Indica el porcentaje que los municipios  a nivel nacional destinaron para cubrir los gastos de administración y prestación de los">?</button>
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myVideo">
                video <i class="fa fa-video-camera icon-large"></i>
            </button>
        </div>
        <!-- video modal -->
        <div class="modal fade" id="myVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">&iquest; Qué son los gastos de funcionamiento?</h4>
                  </div>
                  <div class="modal-body">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/9Kv6H2NLQCU" frameborder="0" allowfullscreen></iframe>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="search">
    <form method="GET">
    <select name="year">
    {% for ayear in year_list %}
        <option {% if ayear == year|add:"0" %}selected{% endif %} value="{{ayear}}">{{ayear}}</option>
    {% endfor %}
    </select>
    <select name="municipio">
    <option value="">Consolidado Municipal</option>
    {% for amunicipio in municipio_list %}
        <option {% if amunicipio.slug == municipio.slug %}selected{% endif %} value="{{amunicipio.slug}}">{{amunicipio}}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Buscar" class="btn btn-primary"/>
    </form>
    </div>

    <ul id="gfTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#asignados" aria-controls="asignados" role="tab" data-toggle="tab">Asignado y ejecutado anual</a></li>
        <li role="presentation"><a href="#gfmodificacion" aria-controls="gfmodificacion" role="tab" data-toggle="tab">Modificaciones al presupuesto</a></li>
        <li role="presentation"><a href="#gforigen" aria-controls="gforigen" role="tab" data-toggle="tab">Información histórica</a></li>
    </ul>
    <div class="clearfix"></div>
    {% if municipio %}
        {{ charts|load_charts:"none, barra, pie, comparativo2, comparativo3 " }}
    {% else %}
        {{ charts|load_charts:"none, barra, pie,comparativo2, comparativo3 "  }}
    {% endif %}
    <div id="gfTabContent" class="tab-content col-md-12">

    <!--TAB1-->
    <div role="tabpanel" class="tab-pane fade active in" id="asignados" aria-labelledby="asignados-tab">

    <!--Gastos de funcionamiento resumen -->
    <div class="row alert alert-success">
        <div class="col-md-12">
            <div class="col-md-4">
                <img src="{% static 'img/gfasignado.png' %}" class="img-responsive margen pull-left" alt="Gasto de funcionamiento asignado" />
                <h3 class="titular" data-toggle="popover" title="Presupuestado" data-content="Indica el Porcentaje que Los Municipios  a nivel nacional destinaron para cubrir los gastos de administración y prestación de los">Presupuesto inicial</h3>
                <span class="cifra grande text-primary">{{ asignado|million|intcomma }}</span>
            </div>
            <div class="col-md-4">
                <img src="{% static 'img/gf.png' %}" class="img-responsive margen pull-left" alt="Gasto de funcionamiento asignado" />
                <h3>Ejecutado </h3><span class="cifra text-warning grande">{{ ejecutado|million|intcomma }}</span>
            </div>
            {% if municipio %}
            <div class="col-md-4">
                <img src="{% static 'img/categoria2.png' %}" class="img-responsive margen pull-left" alt="Categoria de municipio" />
                <h3>Categor&iacute;a de municipio </h3><span class="cifra text-success grande">{{ mi_clase.clasificacion }}</span>
            </div>
            {% endif %}
        </div>
    </div>
    <!--Fin de resumen-->
    <div class="row separador">
    {% if not municipio %}
        <div class="col-md-5">
    <!-- javier 11/junio gftabla1 nacional -->
        <h3>Porcentaje destinado a gastos de funcionamiento</h3>
        <h4 class="text-info">por categoría de Municipios</h4>

        <table class="table table-condensed">
            <tr class="info"><th>Categoría</th> <th>P.Inicial</th> <th>Ejecutado</th></tr>
            {% for row in porclasep %}
                <tr>
                    <td>{{ row.clasificacion }}</td>
                    <td class="tex-right">{% if row.inicial_asignado %}{{ row.inicial_asignado|floatformat:2 }}%{% else %} 0% {% endif %}</td>
                    <td class="text-right">{% if row.ejecutado %}{{ row.ejecutado|floatformat:2 }}% {% else %} 0% {% endif %}</td>
                </tr>
            {% endfor %}
            <tr class="success">
                <td><strong>PROMEDIO</strong></td>
                <td class="text-right"><strong>{% if asignado %}{{ porclasep|total_avg:'asignado'|floatformat:1 }}%{% endif %}</strong></td>
                <td class="text-right"><strong>{{ porclasep|total_avg:'ejecutado'|floatformat:1 }}%</strong></td>
            </tr>
        </table>
    <!-- /fin gftabla1 nacional-->
        </div>
    {% endif%}

    {% if municipio %}
    <div class="col-md-5">
    <!-- javier 7/junio gftabla1 -->
    {% descargar_excel "gf6" %}
    <h3>Ranquin de municipio de misma categoría municipal</h3>
    <h4 class="text-info">Porcentaje del gasto total destinado a gastos de funcionamiento</h4>
    <table class="table table-condensed">
        <tr class="info"><th>Posición</th><th>Municipios</th> <th>Inicial</th> <th>Ejecutado</th></tr>
    {% for row in otros %}
        {% if municipio.slug == row.gasto__municipio__slug%}
            <tr class="info">
        {% else %}
            <tr>
        {% endif %}
        <td> {{forloop.counter}} </td>
        <td>{{ row.gasto__municipio__nombre }}</td>
        <td class="text-right">{{ row.asignado_percent }}%</td>
        <td class="info text-right">{{ row.ejecutado_percent }}%</td>
    </tr>
    {% endfor %}
    <tr class="success">
    	<td></td>
        <td>PROMEDIO</td>
        <td class="text-right">{{ otros|total_avg:'asignado_percent'|floatformat:1 }}%</td>
        <td class="text-right">{{ otros|total_avg:'ejecutado_percent'|floatformat:1 }}%</td>
    </tr>
    </table>
    <!-- /fin gftabla1 -->
    </div>
    {% endif %}

    <div class="col-md-7">
    <!-- javier 7/junio gftabla2 -->
    {% descargar_excel "gf1" %}
    <h3>Resultado presupuestario gastos de funcionamiento</h3>
    <h4 class="text-info">Millones de córdobas corrientes
        <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapsepastel"  aria-expanded="false" aria-controls="collapseExample">Ver gráfico </a>
    </h4>
    <hr />
    <div class="collapse col-md-4" id="collapsepastel">
        <div class="well">
            <div id='comparativo2' class="col-md-6"> Chart will be rendered here </div>
        </div>
    </div>
    <table class="table table-condensed">
        <tr class="info"> <th>Rubros de gastos</th> <th>Inicial</th> <th>Ejecutado</th> <th> <a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Inicial" class="link-info">%</a></th></tr>
    {% for row in rubros %}
    <tr>
        <td>{{ row.tipogasto__nombre }}</td>
        <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>
        <td class="text-right">{{ row.ejecutado|million|intcomma }}</td>
        {% if row.inicial_asignado %}
            <td class="text-right">{{ row.ejecutado|div:row.inicial_asignado|mul:100|floatformat:1 }}%</td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr class="success bold">
        <td>TOTAL</td>
        <td class="text-right">{{ asignado|million|intcomma }}</td>
        <td class="text-right">{{ ejecutado|million|intcomma }}</td>
        <td class="text-right">{% if asignado %}{{ ejecutado|div:asignado|mul:100|floatformat:1 }}%{% endif %}</td></tr>
    </table>
    <!-- /fin gftabla2 -->
    <br />
    <h3>Gastos de funcionamiento {{ municipio }} {{ year }}</h3>
    <div id='pie'></div>
    {% if municipio %}
    <br />
    <br />
    <div id='comparativo2'></div>
    {% endif %}
    </div>
    </div>

    </div> <!--END TAB1 -->
    <!--TAB2 -->
    <div role="tabpanel" class="tab-pane fade" id="gfmodificacion" aria-labelledby="gfmodificacion-tab">

    <div class="col-md-9">
    <!-- javier 7/junio gftabla3 -->
    {% descargar_excel "gf2" %}

    <h3>Modificaciones al presupuesto municipal</h3>
    <h4 class="text-info">Millones de córdobas corrientes  <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapsemodificacion"  aria-expanded="false" aria-controls="collapsemodificacion">Ver gráfico</a></h4>
    <div class="collapse" id="collapsemodificacion">
            <div class="well">
                <div class="col-md-9"><div id='comparativo3'> Chart will be rendered here </div></div>
            </div>
    </div>
    <table class="table table-condensed">
      <tr>
        <td></td>
        <td></td>
        <td colspan="4" class="success text-center">
           <h4>Modificación intermedia 
           <a href="#" data-toggle="tooltip" data-original-title="Modificación al {{ year_data.actualizado }}" class="link-     info">*</a>
           </h4>
        </td>
        <td colspan="4" class="danger text-center">
          <h4>Modificación al cierre
          <a href="#" data-toggle="tooltip" data-original-title="Modificación al {{ year_data.final }}" class="link-info">*</a>
           </h4>
        </td>
      </tr>
      <tr class="info"> <th>Rubros de gastos</th> <th>Inicial</th> 
                <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-          title="Ejecutado/Actualizado" class="link-info">%</a></th>
                <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-          title="Ejecutado/Actualizado" class="link-info">%</a></th>
      </tr>
    {% for row in rubros %}
    <tr>
          <td class="pull-left">{{ row.tipogasto__nombre }}</td>
          <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>
          <td class="success text-right">{{ row.actualizado_asignado|million|intcomma }}</td>
          <td class="success text-right">{% if row.actualizado_asignado %}
            {{ row.actualizado_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}</td>
          <td class="success text-right">{{ row.actualizado_ejecutado|million|intcomma }}</td>
          {% if row.actualizado_asignado %}
            <td class="success montos">{{ row.actualizado_ejecutado|div:row.actualizado_asignado|mul:100|floatformat:1|intcomma }}%</td>
          {% else %}
            <td class="success montos">0</td>
          {% endif %}
          <td class="danger text-right">{% if row.final_asignado %}{{ row.final_asignado|million|intcomma }}{% else %}0 {% endif  %}</td>
          <td class="danger text-right">{% if row.final_asignado and row.inicial_asignado %}
            {{ row.final_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}</td>
          <td class="danger text-right">{% if row.final_ejecutado %}{{ row.final_ejecutado|million|intcomma }}{% else %}0{% endif %}</td>
          {% if row.final_asignado %}
             <td class="danger montos">{{ row.final_ejecutado|div:row.final_asignado|mul:100|floatformat:1|intcomma }}%</td>
          {% endif %}
    </tr>
    {% endfor %}
        <tr class="success bold">
                <td>TOTAL</td>
                <td class="text-right">{{ rubros|total_sum:'inicial_asignado'|million|intcomma }}</td>
                <td class="text-right">{{ rubros|total_sum:'actualizado_asignado'|million|intcomma }}</td>
                {% with sum_asignado=rubros|total_sum:'inicial_asignado' %}
                    <td class="montosi text-right">
                    {% if rubros|total_sum:'actualizado_asignado' %}
                        {{ rubros|total_sum:'actualizado_asignado'|sub:sum_asignado|million|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td class="text-right">{{ rubros|total_sum:'actualizado_ejecutado'|million|intcomma }}</td>
                {% with sum_actualizado=rubros|total_sum:'actualizado_asignado' %}
                    <td class="montos text-right">
                        {% if sum_actualizado %}
                        {{ rubros|total_sum:'actualizado_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}%
                        {% endif %}
                    </td>
                {% endwith %}
                <!-- totales periodo final -->
                <td class="text-right">{{ rubros|total_sum:'final_asignado'|million|intcomma }}</td>
                {% with sum_asignado=rubros|total_sum:'inicial_asignado' %}
                    <td class="montosi text-right">
                    {% if rubros|total_sum:'final_asignado' %}
                        {{ rubros|total_sum:'final_asignado'|sub:sum_asignado|million|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td class="text-right">{{ rubros|total_sum:'final_ejecutado'|million|intcomma }}</td>
                {% with sum_actualizado=rubros|total_sum:'final_asignado' %}
                    <td class="montos text-right">
                        {% if sum_actualizado %}
                        {{ rubros|total_sum:'final_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}%
                        {% endif %}
                    </td>
                {% endwith %}
        </tr>
    </table>
    <br />
    <!-- /fin gftabla3 -->
    
    {% if not municipio %}
    <!-- javier 7/junio gftabla4 nacional -->
    {% descargar_excel "gf3" %}
    <h3>Modificaciones al presupuesto municipal por categoría</h3>
    <h4 class="text-info">Millones de córdobas destinados a gastos de funcionamiento </h4>
    <table  class="table table-condensed">
      <tr>
        <td></td>
        <td></td>
        <td colspan="4" class="success text-center">
           <h4>Modificación intermedia 
           <a href="#" data-toggle="tooltip" data-original-title="Modificación al {{ year_data.actualizado }}" class="link-     info">*</a>
           </h4>
        </td>
        <td colspan="4" class="danger text-center">
          <h4>Modificación al cierre
          <a href="#" data-toggle="tooltip" data-original-title="Modificación al {{ year_data.final }}" class="link-info">*</a>
           </h4>
        </td>
      </tr>
      <tr class="info"> <th>Categoria de Municipio</th> <th>Inicial</th> 
                <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-          title="Ejecutado/Actualizado" class="link-info">%</a></th>
                <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-          title="Ejecutado/Actualizado" class="link-info">%</a></th>
      </tr>
    {% for row in porclase %}
    <tr>
          <td>{{ row.clasificacion }}</td>
          <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>
          <td class="success text-right">{{ row.actualizado_asignado|million|intcomma }}</td>
          <td class="success text-right">{% if row.actualizado_asignado %}
            {{ row.actualizado_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}</td>
          <td class="success text-right">{{ row.actualizado_ejecutado|million|intcomma }}</td>
          {% if row.actualizado_asignado %}
            <td class="success montos">{{ row.actualizado_ejecutado|div:row.actualizado_asignado|mul:100|floatformat:1|intcomma }}%</td>
          {% else %}
            <td class="success montos">0</td>
          {% endif %}
          <td class="danger text-right">{% if row.final_asignado %}{{ row.final_asignado|million|intcomma }}{% else %}0 {% endif  %}</td>
          <td class="danger text-right">{% if row.final_asignado and row.inicial_asignado %}
            {{ row.final_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}</td>
          <td class="danger text-right">{% if row.final_ejecutado %}{{ row.final_ejecutado|million|intcomma }}{% else %}0{% endif %}</td>
          {% if row.final_asignado %}
             <td class="danger montos">{{ row.final_ejecutado|div:row.final_asignado|mul:100|floatformat:1|intcomma }}%</td>
          {% endif %}
    </tr>
    {% endfor %}
    <tr class="success bold">
                <td>TOTAL</td>
                <td class="text-right">{{ porclase|total_sum:'inicial_asignado'|million|intcomma }}</td>
                <td class="text-right">{{ porclase|total_sum:'actualizado_asignado'|million|intcomma }}</td>
                {% with sum_asignado=porclase|total_sum:'inicial_asignado' %}
                    <td class="montosi text-right">
                    {% if porclase|total_sum:'actualizado_asignado' %}
                        {{ porclase|total_sum:'actualizado_asignado'|sub:sum_asignado|million|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td class="text-right">{{ porclase|total_sum:'actualizado_ejecutado'|million|intcomma }}</td>
                {% with sum_actualizado=porclase|total_sum:'actualizado_asignado' %}
                    <td class="montos text-right">
                        {% if sum_actualizado %}
                        {{ porclase|total_sum:'actualizado_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}%
                        {% endif %}
                    </td>
                {% endwith %}
                <!-- totales periodo final -->
                <td class="text-right">{{ porclase|total_sum:'final_asignado'|million|intcomma }}</td>
                {% with sum_asignado=porclase|total_sum:'inicial_asignado' %}
                    <td class="montosi text-right">
                    {% if porclase|total_sum:'final_asignado' %}
                        {{ porclase|total_sum:'final_asignado'|sub:sum_asignado|million|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td class="text-right">{{ porclase|total_sum:'final_ejecutado'|million|intcomma }}</td>
                {% with sum_actualizado=porclase|total_sum:'final_asignado' %}
                    <td class="montos text-right">
                        {% if sum_actualizado %}
                        {{ porclase|total_sum:'final_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}%
                        {% endif %}
                    </td>
                {% endwith %}
    </tr>
    </table>
    <!-- /fin gftabla4 nacional -->

    {% else %}
    
    <!-- javier 7/junio gftabla4 -->
    {% descargar_excel "gf4" %}
    <h3>Modificación al presupuesto municipios categoría '{{ mi_clase.clasificacion }}'</h3>
    <h4 class="text-info">Millones de córdobas destinado a gastos de funcionamiento por categoría de Municipios</h4>
    <table  class="table table-condensed">
      <tr>
        <td></td>
        <td></td>
        <td colspan="4" class="success text-center">
           <h4>Modificación intermedia 
           <a href="#" data-toggle="tooltip" data-original-title="Modificación al {{ year_data.actualizado }}" class="link-     info">*</a>
           </h4>
        </td>
        <td colspan="4" class="danger text-center">
          <h4>Modificación al cierre
          <a href="#" data-toggle="tooltip" data-original-title="Modificación al {{ year_data.final }}" class="link-info">*</a>
           </h4>
        </td>
      </tr>
      <tr class="info"> <th>Municipio</th> <th>Inicial</th> 
                <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-          title="Ejecutado/Actualizado" class="link-info">%</a></th>
                <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-          title="Ejecutado/Actualizado" class="link-info">%</a></th>
      </tr>
    {% for row in otros %}
        {% if municipio.slug == row.gasto__municipio__slug%}
            <tr class="info">
        {% else %}
            <tr>
        {% endif %}
        <td>{{ row.gasto__municipio__nombre }}</td>
        <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>
        <td class="success text-right">{{ row.actualizado_asignado|million|intcomma }}</td>
        <td class="success text-right">{% if row.actualizado_asignado %}
          {{ row.actualizado_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}</td>
        <td class="success text-right">{{ row.actualizado_ejecutado|million|intcomma }}</td>
        {% if row.actualizado_asignado %}
          <td class="success montos">{{ row.actualizado_ejecutado|div:row.actualizado_asignado|mul:100|floatformat:1|intcomma }}%</td>
        {% else %}
          <td class="success montos">0</td>
        {% endif %}
        <td class="danger text-right">{% if row.final_asignado %}{{ row.final_asignado|million|intcomma }}{% else %}0 {% endif  %}</td>
        <td class="danger text-right">{% if row.final_asignado and row.inicial_asignado %}
          {{ row.final_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}</td>
        <td class="danger text-right">{% if row.final_ejecutado %}{{ row.final_ejecutado|million|intcomma }}{% else %}0{% endif %}</td>
        {% if row.final_asignado %}
           <td class="danger montos">{{ row.final_ejecutado|div:row.final_asignado|mul:100|floatformat:1|intcomma }}%</td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr class="success bold">
                <td>TOTAL</td>
                <td class="text-right">{{ otros|total_sum:'inicial_asignado'|million|intcomma }}</td>
                <td class="text-right">{{ otros|total_sum:'actualizado_asignado'|million|intcomma }}</td>
                {% with sum_asignado=otros|total_sum:'inicial_asignado' %}
                    <td class="montosi text-right">
                    {% if otros|total_sum:'actualizado_asignado' %}
                        {{ otros|total_sum:'actualizado_asignado'|sub:sum_asignado|million|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td class="text-right">{{ otros|total_sum:'actualizado_ejecutado'|million|intcomma }}</td>
                {% with sum_actualizado=otros|total_sum:'actualizado_asignado' %}
                    <td class="montos text-right">
                        {% if sum_actualizado %}
                        {{ otros|total_sum:'actualizado_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}%
                        {% endif %}
                    </td>
                {% endwith %}
                <!-- totales periodo final -->
                <td class="text-right">{{ ostros|total_sum:'final_asignado'|million|intcomma }}</td>
                {% with sum_asignado=otros|total_sum:'inicial_asignado' %}
                    <td class="montosi text-right">
                    {% if otros|total_sum:'final_asignado' %}
                        {{ otros|total_sum:'final_asignado'|sub:sum_asignado|million|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td class="text-right">{{ otros|total_sum:'final_ejecutado'|million|intcomma }}</td>
                {% with sum_actualizado=otros|total_sum:'final_asignado' %}
                    <td class="montos text-right">
                        {% if sum_actualizado %}
                        {{ otros|total_sum:'final_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}%
                        {% endif %}
                    </td>
                {% endwith %}
    </tr>
    </table>
    {% endif %}
    <!-- /fin gftabla4 -->
    </div>
        <div id='comparativo3' class="col-md-10 visible-xs"></div>
        <div id='barra' class="visible-xs"></div>
    </div> <!--END TAB2-->

    <!--TAB3-->
    <div role="tabpanel" class="tab-pane fade" id="gforigen" aria-labelledby="gforigen-tab">
    <!-- javier 7/junio gftabla5 -->
    {% descargar_excel "gf5" %}
    <h3>Ejecución presupuestaria del gasto de funcionamiento</h3>
    <h4 class="text-info">Millones de córdobas corrientes</h4>
    <div class="col-md-5">
    <table class="table table-condensed">
        <tr class="info"><th>Año</th> <th>Inicial</th> <th>Ejecutado</th> <th> <a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Inicial" class="link-info">%</a></th></tr>
    {% for row in anuales %}
    <tr>
        <td>{{ row.gasto__anio }}</td>
        <td class="text-right">{{ row.asignado|million|intcomma }}</td>
        <td class="text-right">{{ row.ejecutado|million|intcomma }}</td>
        {% if row.asignado %}
        <td class="text-right">{{ row.ejecutado|div:row.asignado|mul:100|floatformat:1 }}%</td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr class="success bold">
        <td>TOTAL</td>
        <td class="text-right">{{ anuales|total_sum:'asignado'|million|intcomma }}</td>
        <td class="text-right">{{ anuales|total_sum:'ejecutado'|million|intcomma }}</td>
        {% with total_sum_asignado=anuales|total_sum:'asignado' %}</td>
        <td class="text-right">{{ anuales|total_sum:'ejecutado'|div:total_sum_asignado|mul:100|floatformat:1 }}%</td>
        {% endwith %}
    </tr>
    </table>
    <!-- /fin gftabla5 -->
    </div>
    <br clear="all" />
        <div id='none' class="col-md-10"></div>
        <div id='none' class="col-md-6"> Chart will be rendered here </div>
        <div id='none' style="display:none"></div>

     </div>
    </div>
<script>
$(function () {
    $('[data-toggle="popover"]').popover()
})
$('#gfTab a').click(function (e) {
  e.preventDefault()
    $(this).tab('show')
})
</script>
{% endblock %}
