{% extends "base.html" %}
{% load mathfilters %}
{% load static thumbnail chartit %}
{% load core_extras %}  
{% block titulo %}
{{ obj.nombre }}
{% endblock %}
{% block head_extra %}
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/ni/ni-all.js"></script>
<script type="text/javascript" src="{% static 'maps/ni-custom-all.js' %}"></script>
<script type="text/javascript" src="{% static 'js/map-ni-drilldown.js' %}"></script>

<style>
#nic-map-container {
    height: 300px; 
    min-width: 310px; 
    max-width: 800px; 
    margin: 0 auto; 
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
</style>

{% endblock %}

{% block slide_portada %}
<div class="row">
    <div class="col-md-7 col-sm-8 pull-left slider-portada">


<div id="first-slider">
    <div id="carousel-example-generic" class="carousel slide carousel-fade">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <!-- Item 1 -->
            <div class="item active slide1">
                    <div class="pull-right col-md-7 text-right info">
                        <img style="max-width: 120px;"  data-animation="animated zoomInLeft" src="/static/img/inversion.png">
                        <h3 data-animation="animated bounceInDown">Conoce los planes de inversion</h3>
                        <h4 data-animation="animated bounceInUp">para Tu municipio</h4>             
                     </div>
             </div> 
            <!-- Item 2 -->
            <div class="item slide2">
                    <div class="col-md-7 text-right pull-right info">
                        <img style="max-width: 120px;"  data-animation="animated zoomInLeft" src="/static/img/inversion.png">
                        <h3 data-animation="animated bounceInDown">Participemos en la consulta del presupuesto municipal</h3>
                        <h4 data-animation="animated bounceInUp">Informémonos dónde y cuándo sera </h4>
                     </div>
            </div>
        </div>
        <!-- End Wrapper for slides-->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
        </a>
    </div>
</div>

        {%  comment %} 
        <div id="myCarousel2" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
            {% for banner in banners %}
                <li data-target="#myCarousel2" data-slide-to="{{forloop.counter0}}" {% if forloop.first %} class="active"{% endif%} style="background-color: #{{ banner.color }}"></li>
            {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
                {% for banner in banners %}
                    <!--Slider Item{{ banners.count }}-->
                    <div class="item{% if forloop.first %} active{% endif%}" style="background-color: #{{ banner.color }}">
                        <div class="container">
                          {% thumbnail banner.imagen "1170x500" crop='center' as img %}
                            <img class="img-responsive" src="{{ img.url }}" alt="{{ banner }}"/>
                          {% endthumbnail %}
                          <div class="carousel-caption">
                            <p>{{ banner.descripcion }}</p>
                          </div>
                        </div>
                    </div>
                {% endfor %}
             </div>
        </div>
        {% endcomment %}
    </div>
	<div class="col-md-5 col-sm-4">
          <div class="panel panel-default verde mapa">
                    <h4>PRESUPUESTO MUNICIPAL</h4>
                    <div id="nic-map-container"></div>
          </div> 
          <div class="clearafter"></div>
          <div class="panel panel-default celeste">
                <div class="panel-body">
                    <h4>PRESUPUESTO CONSOLIDADO</h4>
                </div>
          </div>  
    </div>
</div>

{% endblock %}

{% block buscador_portada2 %} 
<section>
<div class="container-fluid buscador">
    <div class="col-md-12 col-sm-12">
        <div id="search">                                                           
            <form method="GET">
                <div class="col-md-3 col-sm-3">   
                    <select name="municipio" class="btn btn-defaul btn-lg  dropdown-toggle" data-toggle="dropdown">                                                   
                    <option value="">Consolidado</option>                             
                       {% for municipio in municipios %}                                      
                           <option {% if amunicipio.slug == municipio.slug %}selected{% endif %} value="{{ municipio.slug}}">{{ municipio.nombre }}</option>
                       {% endfor %}                                                                
                    </select>         
               </div>
               <div class="col-md-2 col-sm-2">                                                       
                   <select name="year" class="btn btn-defaul btn-lg  dropdown-toggle" data-toggle="dropdown">                                                        
                    <option value="">Año</option>                                             
                        {% for ayear in year_list %}                                                
                            <option {% if ayear == year|add:"0" %}selected{% endif %} value="{{ayear}}">{{ayear}}</option>
                        {% endfor %}                                                                
                   </select>
               </div>  
              <div class="col-md-4 col-sm-4">
                  <select name="indicador" class="btn btn-defaul btn-lg  dropdown-toggle" data-toggle="dropdown">
                      <option value="">Indicador</option>
                      <option value="">Origen de los ingresos del municipio</option>
                      <option value="">Destino del gasto municipal</option>
                      <option value="">Gastos de funcionamiento</option>
                      <option value="">Gastos de personal</option>
                      <option value="">Dependencia para asumir gastos corrientes</option>
                      <option value="">Ahorro corriente para inversiones</option>
                      <option value="">Ejecuci&oacute;n del presupuesto</option>
                      <option value="">Inversiones</option>
                      <option value="">Descargar Detalle Presupuesto</option>
                  </select>  
              </div>
              <div class="col-md-3 col-sm-3">  
                  <input type="submit" value="Buscar" class="text-center btn btn-primary"/> 
              </div>    
            </form>                 
        </div> 
     </div>  
</div>
</section> 
{% endblock %} 
{% block main_content %}
{% endblock %}

{% block inversiones_portada %}
    <section id="inversiones" class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="text-center">
                        <h2 class="titular text-verde" >Inversi&oacute;n Municipal 2016</h2>
                    </div>
                    <div class="invierte">
                        {% for i in inversion_categoria %}
				                <div class="col-md-2 pull-left text-center" style="min-height: 200px;">
                					<svg height="100px" width="100px" id="graph">
				                	<!-- pattern -->
                						<defs>
                                        <pattern x="3%" y="18%" id="{{ i.catinversion__slug }}" height="100%" width="100%" viewBox="0 0 512 512">
                                            <image x="40%" height="312" width="400" y="0%" xlink:href="{% static 'images/icons/'|add:i.catinversion__slug|add:'.svg' %}"></image>
				                		    </pattern>
                						</defs>
				                		<circle stroke="none" class="circle_celeste" cx="50%" r="43%" cy="52%"></circle>
                                        <circle cx="50%" r="40%" cy="52%" id="sd" class="medium" fill="url(#{{ i.catinversion__slug }})" stroke-dasharray="4" stroke="#fff" fill="none" stroke-width="1%"></circle>
                					</svg>
                                    <h4 class="titrubro">{{ i.catinversion__nombre }}</h4>
                                    <div class="cifrarubro_portada">Inicial: 9.2%</div>
                                    <div class="cifrarubro2_portada">Ejecutado: 9.2%</div>
                				</div>
                        {% endfor %}
                    </div>
                    <br clear="all">
                    <div class="text-center">
                         <p><span class="text-danger"><strong>Mínimo por ley:</strong>
                            Los gobiernos municipales, asignarán anualmente de las transferencias de inversión los porcentajes mínimos para los siguientes sectores priorizados:<br>
                          <p><span class="text-danger"><strong>Salud 5%, Educación 5%, Medio Ambiente 5%, Agua y Saneamiento 7.5%.</strong></p>
                    </div>
                </div><!-- /.carousel -->
            </div> <!--/.col-md-->
          </div> <!--/.container-->
     </div><!--/.row-->
</div><!--/.container-->
</section>
    {% endblock %} 
