			<div class="xs-menu-cont">
			<a id="menutoggle"><i class="fa fa-align-justify"></i> </a>
				<nav class="xs-menu displaynone">
					<ul>
						<li class="active">
							<a href="{% url 'home' %}">Home</a>
						</li>
						<li>
							<a href="#">About</a>
						</li>
						<li>
							<a href="#">Services</a>
						</li>
						<li>
							<a href="#">Team</a>
						</li>
						<li>
							<a href="#">Portfolio</a>
						</li>
						<li>
							<a href="#">Blog</a>
						</li>
						<li>
							<a href="#">Contact</a>
						</li>

					</ul>
				</nav>
			</div>
			<nav class="menu">
				<ul>
					<li class="active">
						<a href="#">Inicio</a>
					</li>
					<li class="drop-down">
						<a href="#">El Observatorio</a>
					    <div class="nav-expand"> 
						<div class="mega-menu fadeIn animated">
							<div id="carousel-menu" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner" role="listbox">
									{% regroup municipios by depto as departamentos %}
									{% for departamento in departamentos %}
											{% if forloop.counter0|divisibleby:5 or forloop.first %}
										    	<div class="item{% if forloop.first %} active{% endif %}">
											{% endif %}
                                                <ul class="col-md-2">
                                                    <li><div class="titseccion">{{ departamento.grouper }}</div>
                                                        <ul class="municipios text-left">
            	         								    {% for item in departamento.list %}
                                                            <li><a href="/{{ item.depto.codigo }}/">{{ item.nombre }}</a></li>
					        				                {% endfor %}
                                                        </ul>
                                                    </li>
                                                </ul>
    										{% if forloop.counter|divisibleby:5 or forloop.last%}</div>{% endif %}
        							{% endfor %}
            					</div>
                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-menu" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-menu" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
						</div>
				        </div>
					</li>
					<li class="drop-down">
						<a href="#">Presupuesto</a>
					    <div class="nav-expand"> 
						<div class="mega-menu fadeIn animated">
                            <ul>
                                <li><a href="{%url 'origen_ingresos'%}">Origen de los ingresos del municipio</a></li>
                                <li><a href="{%url 'origen_gastos'%}">Destino del gasto municipal</a></li>
                                <li class="divider"></li>
                                <li><a href="{%url 'gastos_funcion'%}">Gastos de funcionamiento</a></li>
                                <li><a href="{%url 'gastos_personal'%}">Gastos de personal</a></li>
                                <li><a href="{%url 'autonomia_gastos'%}">Dependencia para asumir gastos corrientes</a></li>
                                <li><a href="{%url 'ahorro_corriente'%}">Ahorro corriente para inversiones</a></li>
                                <li><a href="{%url 'ejecucion_presupuesto'%}">Ejecuci&oacute;n del presupuesto</a></li>
                                <li><a href="{%url 'inversion_categoria'%}">Inversiones</a></li>
                                <li><a href="{%url 'detalle_presupuesto'%}">Descargar Detalle Presupuesto</a></li>
                            </ul>
						</div>
				        </div>
					</li>
					<li>
						<a href="#">Consulta</a>
					</li>
					<li>
						<a href="#">Descarga</a>
					</li>
				</ul>
			</nav>
		</div>
