{% extends "base.html" %}
{% load static thumbnail chartit %}
{% load humanize %} 
{% load mathfilters %}
{% load core_extras %} 
{% block titulo %}
{{ obj.nombre }}
{% endblock %}
{% block main_content %}
{% descargar_excel "ogm-all" %}
    <h2 class="titular">Destino de los gastos  {% if municipio %}{{ municipio }} {% endif %}{% if year %}{{ year }} {% else %}2015 {% endif %}</h2>
    <form method="GET">
    <select name="year">
    {% for ayear in year_list %}
        <option {% if ayear == year|add:"0" %}selected{% endif %} value="{{ayear}}">{{ayear}}</option>
    {% endfor %}
    </select>
    <select name="municipio">
    <option value="">Consolidado Municipal</option>
    {% for amunicipio in municipio_list %}
        <option {% if amunicipio.slug == municipio.slug %}selected{% endif %} value="{{amunicipio.slug}}">{{amunicipio}}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Buscar" class="btn btn-primary"/>
    </form>
    <ul id="oimTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#asignados" aria-controls="asignados" role="tab" data-toggle="tab">Asignado y ejecutado anual</a></li>
        {% if year != '2016' %}
            <li role="presentation"><a href="#oimmodificacion" aria-controls="oimmodificacion" role="tab" data-toggle="tab">Modificaciones al presupuesto</a></li>
        {% endif %}
        <li role="presentation"><a href="#oimorigen" aria-controls="oimorigen" role="tab" data-toggle="tab">Información hist&oacute;rica</a></li>
    </ul>

    {% if municipio and charts.4 %}
        {{ charts|load_charts:"ejecutado, comparativo_anios, comparativo2, comparativo3, tipo, barra" }}
    {% else %}
       {{ charts|load_charts:"ejecutado, comparativo_anios, comparativo2, comparativo3, tipo" }}
    {% endif %}
    <div id="oimTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="asignados" aria-labelledby="asignados-tab">
        <!--Gastos resumen -->
        <div class="row alert alert-success">
            <div class="col-md-12">
                <div class="col-md-4">
                    <img src="{% static 'img/gfasignado.png' %}" class="img-responsive margen pull-left" alt="Gasto de funcionamiento asignado" />
                    <h3 class="titular" data-toggle="popover" title="Presupuestado" data-content="Indica el Porcentaje que Los Municipios  a nivel nacional destinaron para cubrir los gastos de administración y prestación de los">Presupuesto inicial</h3>
                    <span class="cifra grande text-primary">{{ asignado|million|intcomma }}</span>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/gf.png' %}" class="img-responsive margen pull-left" alt="Gasto de funcionamiento asignado" />
                    {% if year != '2016' %}
                        <h3>Ejecutado </h3><span class="cifra text-warning grande">{{ ejecutado|million|intcomma }}</span>
                    {% endif %}
                </div>
                {% if municipio %}
                    <div class="col-md-4">
                    <img src="{% static 'img/categoria2.png' %}" class="img-responsive margen pull-left" alt="Categoria de municipio" />
                    <h3>Categor&iacute;a de municipio </h3><span class="cifra text-success grande">{{ mi_clase.clasificacion }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
        <!--Fin de resumen-->
        <div class="separador"></div> 
        <div class="col-md-6">
            <!--maribel 21/07 inversion tabla1 -->
            <h3>Gastos del período</h3>
            <h4 class="text-info">Porcentaje del gasto total
              <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapsepastel"  aria-expanded="false" aria-controls="collapsePastel">Ver gráfico pastel</a>
              <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapsebarra"  aria-expanded="false" aria-controls="collapsebarra">Ver gráfico barra</a>
            </h4>
            <div class="collapse" id="collapsepastel">               
                <div class="well">                                              
                    <div id='ejecutado' class="col-md-4"> Chart will be rendered here </div>
                </div>                                           
            </div> 
            <div class="collapse" id="collapsebarra">               
                <div class="well">                                              
                    <div id='tipo' class="col-md-5"> Chart will be rendered here </div>
                </div>                                           
            </div> 
            <table class="table">
                <tr class="info"> <th colspan="2">Rubros de gastos</th><th>Inicial</th> {% if year != '2016' %}<th>Ejecutado</th> {% endif %}</tr>
                {% for total in totales %}
                <tr>
                    <td><img src="/static/img/Otros origenes.png" class="pull-left" height="40" alt="{{ total.tipogasto__nombre }}" /></td>
                    <td><h4>{{ total.subsubtipogasto__origen__nombre }}</h4></td>
                    <td><span class="btn btn-info col-md-11 cifra">{{ total.asignado_percent }}%</span></td>
                    {% if year != '2016' %}
                    <td><span class="btn btn-info col-md-11 cifra">{{ total.ejecutado_percent }}%</span></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
            <!-- fin tabla1 -->
        </div>
        <div class="col-md-6">
            <!-- maribel 21/07 tabla2 inversion -->
			{% descargar_excel "ogm1" %}           
            <h3>Eficiencia en la ejecución del gasto municipal</h3>
            <h4>Gastos en millones de córdobas corrientes
              <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapseeficiencia"  aria-expanded="false" aria-controls="collapseEficiencia">Ver gráfico </a>
            </h4>
            <div class="collapse col-md-4" id="collapseeficiencia">               
                <div class="well">                                              
                    <div id='comparativo2' class="col-md-4"> Chart will be rendered here </div>
                </div>                                                          
            </div> 
            <table class="table table-condensed">                                       
                <tr class="info"> <th>Rubros de gastos</th> <th>Inicial</th>{% if year != '2016' %} <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Inicial" class="link-info">%</a></th>{% endif %}</tr>
                {% for row in rubros %}                                                     
                <tr>                                                                        
                    <td>{{ row.subsubtipogasto__origen__nombre }}</td>                                    
                    <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>                                    
                    {% if year != '2016' %}
                        <td class="text-right">{{ row.ejecutado|million|intcomma }}</td>                                   
                        {% if row.inicial_asignado %}                                                   
                            <td class="montos">{{ row.ejecutado|div:row.inicial_asignado|mul:100|floatformat:1 }}%</td>
                        {% endif %}                                                             
                    {% endif %}
                </tr>                                                                       
                {% endfor %}                                                                
                <tr class="success bold">                                                   
                    <td>TOTAL</td>
                    <td class="text-right">{{ asignado|million|intcomma }}</td>
                    {% if year != '2016' %}
                    <td class="text-right">{{ ejecutado|million|intcomma }}</td>
                    <td class="montos">{% if asignado %}{{ ejecutado|div:asignado|mul:100|floatformat:1 }}%{% endif %}</td></tr>
                    {% endif %}
            </table>                                                                    
            <!-- /fin tabla2 -->                                                      
            <br />   
        </div>
        <!-- tabla solo un año /-->
        <br clear="all" />
        <hr />
        <div class="col-md-12 alert alert-success"  role="alert">   
            <h3 class="text-center">Eficiencia en la ejecución del gasto de personal permanente</h3>
            <div class="col-md-6">
                    <img src="{% static 'img/oim-asignadop.png' %}" class="img-responsive margen pull-left" alt="ingreso de funcionamiento asignado" />
                    <h3 class="titular" data-toggle="popover" title="Presupuestado" data-content="Indica el Porcentaje que Los Municipios  a nivel nacional destinaron para cubrir los ingresos de administración y prestación de los">Presupuesto inicial</h3>
                    <span class="cifra grande text-primary">{{ rubrosp|total_sum:'inicial_asignado'|million|intcomma }}</span>

            </div>
            {% if year != '2016' %}
                <div class="col-md-6">
                    <img src="{% static 'img/oim-asignadop.png' %}" class="img-responsive margen pull-left" alt="ingreso de funcionamiento asignado" />
                    <h3>Ejecutado </h3><span class="cifra text-warning grande">{{ rubrosp|total_sum:'ejecutado'|million|intcomma }}</span>
                </div>
            {% endif %}
            <div class="separador"></div>
            <div class="center"><a class="btn btn-success" role="button" data-toggle="collapse" href="#collapseejecucion"  aria-expanded="false" aria-controls="collapseejecucion">Consultar detalles </a></div>
              <hr />
              <div class="collapse col-md-9" id="collapseejecucion">
                <div class="well">
					{% descargar_excel "ogm2" %}                    
                    <h4>Gastos en millones de córdobas corrientes</h3>
                    <table class="table table-condensed">                                       
                        <tr class="info"> <th>Rubros de gastos</th> <th>Inicial</th>{% if year != '2016' %} <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Inicial" class="link-info">%</a></th>{% endif %}</tr>
                        {% for row in rubrosp %}                                                     
                            <tr>                                                                        
                                <td class="capfirst">{{ row.subsubtipogasto__nombre }}</td>                                    
                                <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>
                                {% if year != '2016' %} 
                                    <td class="text-right">{{ row.ejecutado|million|intcomma }}</td>                                   
                                    {% if row.inicial_asignado %}                                                   
                                        <td class="montos">{{ row.ejecutado|div:row.inicial_asignado|mul:100|floatformat:1 }}%</td>
                                    {% endif %}
                                {% endif %}
                            </tr>                                                                       
                        {% endfor %}                                                                
                        <tr class="success bold">                                                   
                            <td>TOTAL</td>                                                          
                            <td class="text-right"><strong>{{ rubrosp|total_sum:'inicial_asignado'|million|intcomma }}</strong></td>
                            {% if year != '2016' %}
                                <td class="text-right"><strong>{{ rubrosp|total_sum:'ejecutado'|million|intcomma }}</strong></td>
                                <td class="montos">{% if asignado %}{{ ejecutado|div:asignado|mul:100|floatformat:1 }}%{% endif %}</td>
                            {% endif %}
                        </tr>       
                    </table>                                                                    
                    <!-- /fin ogm-tabla3 -->                                                      
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!-- maribel 06/07 gftabla4 nacional -->
            {% if not municipio %}
                <div class="col-md-5">
				{% descargar_excel "ogm3" %}                
                <h3>Gastos de personal por habitante en cada categoría municipal</h3>
                <h4 class="text-info">Córdobas Corrientes</h4>
                <table class="table table-condensed">
                    <tr class="info"><th>Categoría de municipio</th> <th>Asignado</th> <th>Ejecutado</th></tr>
                    {% for row in porclasep %}
                    <tr>
                        <td>{{ row.clasificacion }}</td>
                        <td class="text-right">{% if row.asignado %}{{ row.asignado|floatformat:2|intcomma }}{% else %} 0 {% endif %}</td>
                        <td class="text-right">{% if row.ejecutado %}{{ row.ejecutado|floatformat:2|intcomma }} {% else %} 0 {% endif %}</td>
                    </tr>
                    {% endfor %}
                    <tr class="success">
                        <td><strong>TOTAL</strong></td>
                        <td class="text-right"><strong>{{ porclasep|total_sum:'asignado'|floatformat:2|intcomma }}</strong></td>
                        <td class="text-right"><strong>{{ porclasep|total_sum:'ejecutado'|floatformat:2|intcomma }}</strong></td>
                    </tr>
                </table>
                </div>
            {% endif%}
            <!-- /fin ogm-tabla4 nacional-->
            <!-- maribel 20/07 ogm-tabla4-municipal -->
            {% if municipio %}
                <div class="col-md-6">
                {% descargar_excel "ogm8" %}
                {% if year == '2016' %}
                    <h3>Gastos por habitante</h3>
                {% else %}
                    <h3>Ranquin de municipio de misma categoría municipal</h3>
                {% endif %}
                <h4 class="text-info">Córdobas corrientes por habitante</h4>
                <table class="table table-condensed">
                    <tr class="info"><th>Posición</th><th>Municipios</th> <th>P. Inicial</th>{% if year != '2016' %} <th>Ejecución</th>{% endif %}</tr>
                    {% for row in otros %}
                        {% if municipio.slug == row.gasto__municipio__slug%}
                        <tr class="info">
                        {% else %}
                        <tr>
                        {% endif %}
                            <td class="text-center"> {{forloop.counter}} </td>
                            <td>{{ row.gasto__municipio__nombre }}</td>
                            <td class="text-right">{{ row.asignado_percent|intcomma }}</td>
                            {% if year != '2016' %} 
                            <td class="info text-right">{{ row.ejecutado_percent|intcomma }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    <tr class="success">
                        <td colspan="2">TOTAL</td>
                        <td class="text-right">
                        {% with numerator=otros|total_sum:'asignado' denominator=otros|total_sum:'poblacion' %}
                        {{ numerator|div:denominator|floatformat:2|intcomma }}
                        {% endwith %}
                        </td>
                        <td class="text-right">
                        {% with numerator=otros|total_sum:'ejecutado' denominator=otros|total_sum:'poblacion' %}
                        {{ numerator|div:denominator|floatformat:2|intcomma }}
                        {% endwith %}
                        </td>
                    </tr>
                </table>
                </div>
            {% endif %}
            <!-- /fin ogm-tabla4-municipal -->
        </div>

      </div>
      <div role="tabpanel" class="tab-pane fade" id="oimmodificacion" aria-labelledby="oimmodificacion-tab">
        <!-- maribel 20/07 ogm-tabla5 -->
		{% descargar_excel "ogm4" %}      
        <h3>Modificaciones al presupuesto municipal de gastos</h3>
        <h4 class="text-info">Millones de córdobas corrientes</h4>
        <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapseModificacion"  aria-expanded="false" aria-controls="collapseModificacion">Ver gráfico</a>
        <div class="collapse" id="collapseModificacion">               
            <div class="well">                                              
                <div id='comparativo3' class="col-md-6"> Chart will be rendered here </div>
            </div>                                           
        </div> 
        <table class="table table-condensed ">
            <tr>
                <td></td>
                <td></td>
                <td colspan="4" class="success text-center">
                    <h4>Modificación intermedia 
                        <a href="#" data-toggle="tooltip" data-original-title="Modificación al {{ year_data.actualizado }}" class="link-info">*</a>
                    </h4>
                </td>
                <td colspan="4" class="danger text-center">
                    <h4>Modificación al cierre
                        <a href="#" data-toggle="tooltip" data-original-title="Modificación al {{ year_data.final }}" class="link-info">*</a>
                    </h4>
                </td>
            </tr>
            <tr class="info"> <th>Rubros de gastos</th> <th>Inicial</th> 
                <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Actualizado" class="link-info">%</a></th>
                <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Actualizado" class="link-info">%</a></th>
            </tr>
            {% for row in rubros %}
                <tr>
                    <td class="pull-left">{{ row.tipogasto__nombre }}</td>
                    <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>

                    <td class="success text-right">{{ row.actualizado_asignado|million|intcomma }}</td>
                    <td class="success text-right">{% if row.inicial_asignado %}{{ row.actualizado_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}</td>
                    <td class="success text-right">{{ row.actualizado_ejecutado|million|intcomma }}</td>
                    {% if row.actualizado_asignado %}
                        <td class="success montos">{{ row.actualizado_ejecutado|div:row.actualizado_asignado|mul:100|floatformat:1|intcomma }}%</td>
                    {% else %}
                        <td class="success montos">0</td>
                    {% endif %}

                    <td class="danger text-right">{% if row.final_asignado %}{{ row.final_asignado|million|intcomma }}{% else %}0 {% endif %}</td>
                    <td class="danger text-right">{% if row.final_asignado and row.inicial_asignado %}{{ row.final_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}</td>
                    <td class="danger text-right">{% if row.final_ejecutado %}{{ row.final_ejecutado|million|intcomma }}{% else %}0{% endif %}</td>
                    {% if row.final_asignado %}
                        <td class="danger montos">{{ row.final_ejecutado|div:row.final_asignado|mul:100|floatformat:1|intcomma }}%</td>
                    {% endif %}

                </tr>
            {% endfor %}
            <tr class="success bold">
                <td>TOTAL</td>
                <td class="text-right">{{ rubros|total_sum:'inicial_asignado'|million|intcomma }}</td>
                <td class="text-right">{{ rubros|total_sum:'actualizado_asignado'|million|intcomma }}</td>
                {% with sum_asignado=rubros|total_sum:'inicial_asignado' %}
                    <td class="montosi text-right">
                    {% if rubros|total_sum:'actualizado_asignado' %}
                        {{ rubros|total_sum:'actualizado_asignado'|sub:sum_asignado|million|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td class="text-right">{{ rubros|total_sum:'actualizado_ejecutado'|million|intcomma }}</td>
                {% with sum_actualizado=rubros|total_sum:'actualizado_asignado' %}
                    <td class="montos text-right">
                        {% if sum_actualizado %}
                        {{ rubros|total_sum:'actualizado_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}%
                        {% endif %}
                    </td>
                {% endwith %}
                <!-- totales periodo final -->
                <td class="text-right">{{ rubros|total_sum:'final_asignado'|million|intcomma }}</td>
                {% with sum_asignado=rubros|total_sum:'inicial_asignado' %}
                    <td class="montosi text-right">
                    {% if rubros|total_sum:'final_asignado' %}
                        {{ rubros|total_sum:'final_asignado'|sub:sum_asignado|million|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td class="text-right">{{ rubros|total_sum:'final_ejecutado'|million|intcomma }}</td>
                {% with sum_actualizado=rubros|total_sum:'final_asignado' %}
                    <td class="montos text-right">
                        {% if sum_actualizado %}
                        {{ rubros|total_sum:'final_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}%
                        {% endif %}
                    </td>
                {% endwith %}
            </tr>
        </table>
        <br />
        <!-- /fin ogm-tabla5 -->
        <!-- maribeli 20/07 ogm-tabla6 -->
        {% descargar_excel "ogm5" %}
        <h3>Modificaciones al presupuesto municipal del gasto de personal permanente</h3>
        <h4 class="text-info">Millones de córdobas corrientes</h4>
        <table class="table table-condensed">
            <tr><td></td><td></td><td colspan="4" class="success text-center"><h4>Modificación al {{ year_data.actualizado }}</h4></td><td colspan="4" class="danger"><h4>Modificación al {{ year_data.final }}</h4></td></tr>
            <tr class="info"> <th>Rubros de gastos</th> <th>Inicial</th> 
                <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Actualizado" class="link-info">%</a></th>
                <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Actualizado" class="link-info">%</a></th>
            </tr>
            {% for row in rubrosp %}
                <tr>
                    <td class="pull-left">{{ row.subsubtipogasto__nombre }}</td>
                    <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>

                    <td class="success text-right">{{ row.actualizado_asignado|million|intcomma }}</td>
                    <td class="success text-right">{% if row.inicial_asignado %}{{ row.actualizado_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}</td>
                    <td class="success text-right">{{ row.actualizado_ejecutado|million|intcomma }}</td>
                    {% if row.actualizado_asignado %}
                        <td class="success montos">{{ row.actualizado_ejecutado|div:row.actualizado_asignado|mul:100|floatformat:1|intcomma }}%</td>
                    {% else %}
                        <td class="success montos">0</td>
                    {% endif %}

                    <td class="danger text-right">{% if row.final_asignado %}{{ row.final_asignado|million|intcomma }}{% else %}0 {% endif %}</td>
                    <td class="danger text-right">{% if row.final_asignado and row.inicial_asignado %}{{ row.final_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}</td>
                    <td class="danger text-right">{% if row.final_ejecutado %}{{ row.final_ejecutado|million|intcomma }}{% else %}0{% endif %}</td>
                    {% if row.final_asignado %}
                        <td class="danger montos">{{ row.final_ejecutado|div:row.final_asignado|mul:100|floatformat:1|intcomma }}%</td>
                    {% endif %}
                </tr>
            {% endfor %}
            <tr class="success bold">
                <td>TOTAL</td>
                <td class="text-right">{{ rubrosp|total_sum:'inicial_asignado'|million|intcomma }}</td>
                <td class="text-right">{{ rubrosp|total_sum:'actualizado_asignado'|million|intcomma }}</td>
                {% with sum_asignado=rubrosp|total_sum:'inicial_asignado' %}
                    <td class="montosi text-right">
                    {% if rubrosp|total_sum:'actualizado_asignado' %}
                        {{ rubrosp|total_sum:'actualizado_asignado'|sub:sum_asignado|million|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td class="text-right">{{ rubrosp|total_sum:'actualizado_ejecutado'|million|intcomma }}</td>
                {% with sum_actualizado=rubrosp|total_sum:'actualizado_asignado' %}
                    <td class="montos text-right">
                        {% if sum_actualizado %}
                        {{ rubrosp|total_sum:'actualizado_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}%
                        {% endif %}
                    </td>
                {% endwith %}
                <!-- totales periodo final -->
                <td class="text-right">{{ rubrosp|total_sum:'final_asignado'|million|intcomma }}</td>
                {% with sum_asignado=rubrosp|total_sum:'inicial_asignado' %}
                    <td class="montosi text-right">
                    {% if rubrosp|total_sum:'final_asignado' %}
                        {{ rubrosp|total_sum:'final_asignado'|sub:sum_asignado|million|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td class="text-right">{{ rubrosp|total_sum:'final_ejecutado'|million|intcomma }}</td>
                {% with sum_actualizado=rubrosp|total_sum:'final_asignado' %}
                    <td class="montos text-right">
                        {% if sum_actualizado %}
                        {{ rubrosp|total_sum:'final_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}%
                        {% endif %}
                    </td>
                {% endwith %}
            </tr>
        </table>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="oimorigen" aria-labelledby="oimorigen-tab">
        <!--maribel 20/07 ogm-tabla 7 -->
        <div class="col-md-6">
        {% descargar_excel "ogm6" %}
            <h3>Ejecución presupuestaria del gasto</h3>
            <h4 class="text-info">Millones de córdobas corrientes
                <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapsecomparativo_anios"  aria-expanded="false" aria-controls="collapsePastel">Ver gráfico</a>
            </h4>
            <div class="collapse" id="collapsecomparativo_anios">               
                <div class="well">                                              
                    <div id='comparativo_anios' class="col-md-7"> Chart will be rendered here </div>
                </div>                                           
            </div> 
            <table class="table table-condensed">
                <tr class="info"><th>Años</th> <th>Inicial</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Inicial" class="link-info">%</a></th></tr>
                {% for row in anuales %}
                <tr>
                    <td>{{ row.gasto__anio }}</td>
                    <td class="text-right">{{ row.asignado|million|intcomma }}</td>
                    <td class="text-right">{{ row.ejecutado|million|intcomma }}</td>
                    {% if row.asignado %}
                        <td class="montos">{{ row.ejecutado|div:row.asignado|mul:100|floatformat:1 }}%</td>
                    {% endif %}
                 </tr>
                {% endfor %}
                <tr class="success bold">
                    <td>TOTAL</td>
                    <td class="text-right">{{ anuales|total_sum:'asignado'|million }}</td>
                    <td class="text-right">{{ anuales|total_sum:'ejecutado'|million }}</td>
                    {% with total_sum_asignado=anuales|total_sum:'asignado' %}</td>
                    <td class="montos">{{ anuales|total_sum:'ejecutado'|div:total_sum_asignado|mul:100|floatformat:1 }}%</td>
                    {% endwith %}
                </tr>
            </table>
        </div>
        <!-- /fin gftabla7 -->
        <!--maribel 20/07 ogm-tabla 8 -->
        <div class="col-md-8">
        	{% descargar_excel "ogm7" %}
            <h3>Ejecución Presupuestaria por destino de gastos. {% if not municipio %}Consolidado municipal {% endif %}</h3>
            <h4 class="text-info">Millones de c&oacute;rdoba corrientes</h4>
            <table class="table table-condensed">
                <tr  class="info">
                    <th>Rubros de gastos</th>
                    {% for year in year_list %}
                        <th>{{ year }}</th>
                    {% endfor %}
                </tr>
                {% for key, data in porano.items %}
                <tr>
                    <td class="text-left">{{ key }}</td>
                    {% for year in year_list %}
                    <td class="text-right">{{ data|keyvalue:year|million|intcomma }}</td>
                    {% endfor %}
                   <!--td>{{ data.extra }}</td-->
                   <!-- old-fashioned way:
                     {% for subkey, subdata in data.items %}
                       <td>{{ subkey }} = {{ subdata}}</td>
                       {% endfor %}
                   -->
                </tr>
                {% endfor %}
            </table>
            <p>Nota: la ejecucion al 2016 no es de cierre.</p>
        </div>
        <!--fin ogm-tabla8 -->
      </div>
    </div>
</div>
{% endblock %}
